<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#"><img src="assets/images/OurschoolLogo.png" alt=""></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" id="button" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="viewButton=!viewButton">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': viewButton}">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown" id="Dropdown1" appHover (viewDropdown)="viewdd1Change($event)">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="padding-left:20px;padding-right: 20px">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1" [ngClass]="{'show':viewDropdown1}">
          <a class="dropdown-item" href="#">Create District</a>
          <a class="dropdown-item" href="#">Add/Reactivate Schools</a>
          <a class="dropdown-item" href="#">Add/Reactivate/Transfer Members</a>
          <a class="dropdown-item" href="#">View School/District Info</a>
        </div>
      </li>

      <li class="nav-item dropdown" id="Dropdown2" appHover (viewDropdown)="viewdd2Change($event)">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="padding-left:20px;padding-right: 20px">
          Surveys
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2" [ngClass]="{'show':viewDropdown2}">
          <a class="dropdown-item" href="#">Survey Composing</a>
          <a class="dropdown-item" href="#">Survey Setup</a>
          <a class="dropdown-item" href="#">Set/Revise Open-Ended Questions</a>
          <a class="dropdown-item" href="#">Set/Revise Multiple Choice Questions</a>
          <a class="dropdown-item" href="#">Survey-Taker List and Passwords</a>
          <a class="dropdown-item" href="#">Monitor progress</a>
          <a class="dropdown-item" href="#">Close Survey</a>
        </div>
      </li>

      <li class="nav-item dropdown" id="Dropdown3" appHover (viewDropdown)="viewdd3Change($event)">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="padding-left:20px;padding-right: 20px">
          Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown3" [ngClass]="{'show':viewDropdown3}">
          <a class="dropdown-item" href="#">View Reports</a>
          <a class="dropdown-item" href="#">View Single Indicator Reports</a>
          <a class="dropdown-item" href="#">View Roll-up Interactive Charts</a>
          <a class="dropdown-item" href="#">View Scrapbooks</a>
        </div>
      </li>

      <li class="nav-item dropdown" id="Dropdown4" appHover (viewDropdown)="viewdd4Change($event)">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="padding-left:20px;padding-right: 20px">
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown4" [ngClass]="{'show':viewDropdown4}">
          <a class="dropdown-item" href="#">Knowledge Base</a>
          <a class="dropdown-item" href="#">View Survey Questions</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>


      <li class="nav-item dropdown" id="Dropdown5" appHover (viewDropdown)="viewdd5Change($event)">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="padding-left:20px;padding-right: 20px">
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown4" [ngClass]="{'show':viewDropdown5}">
          <a class="dropdown-item" href="#">Helpdesk Admin</a>
          <a class="dropdown-item" href="#">Contract Information</a>
          <a class="dropdown-item" href="#">Survey Admin</a>
          <a class="dropdown-item" href="#">Email Groups</a>
          <a class="dropdown-item" href="#">Admin Manage OU</a>
          <a class="dropdown-item" href="#">Close Survey</a>
          <a class="dropdown-item" href="#">Add Survey Participants</a>
          <a class="dropdown-item" href="#">Permission Admin</a>
          <a class="dropdown-item" href="#">Update Upload Characteristics</a>
          <a class="dropdown-item" href="#">Genrate OEQ Freq</a>
          <a class="dropdown-item" href="#">Account Monitoring</a>
          <a class="dropdown-item" href="#">Disaggregate Measures</a>
          <a class="dropdown-item" href="#">Data Suppression</a>
        </div>
      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Knowledge Base" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>

</nav>

<div class="jumbotron bg-light" style="">

  <!-- <div class="container d-flex">

    <div class="container">

    <div class=" card p-2"> 
  
     
      <div class="d-flex card-header " style="" type="button" (click)="viewCompare=!viewCompare;viewRefine=false;viewSort=false" data-toggle="collapse"
        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <p class="mr-auto p-2">Compare</p>   
        <span class="p-2 dropdown-toggle"></span>
       </div>
  
    <div class="card-body collapse" id="collapseExample" [ngClass]="{'show':viewCompare}">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
      </div>
    </div>
  </div>

</div>

<div class="container">

  <div class="card p-2">
      
     
        <div class="card-header d-flex " style="" type="button" (click)="viewSort=!viewSort;viewRefine=false;viewCompare=false;" data-toggle="collapse"
          data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
         <p class="mr-auto p-2">Sort </p> <span class="p-2 dropdown-toggle"></span>
      </div>
  
      <div class="card-body collapse" id="collapseExample" [ngClass]="{'show':viewSort}">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card p-2">
  
          <div class="card-header d-flex" style="" type="button" (click)="viewRefine=!viewRefine;viewSort=false;viewCompare=false" data-toggle="collapse"
            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <p class="mr-auto p-2">Refine</p>   <span class="p-2 dropdown-toggle"></span>
        </div>
    
        <div class="card-body collapse" id="collapseExample" [ngClass]="{'show':viewRefine}">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
          </div>
        </div>
      </div>
    </div>
    

  </div> -->

</div>