<!-- <ng-content></ng-content> -->
<!-- <div class="row"> -->
    <!-- <div class="col"> -->
    
    <!-- </div> -->
    <!-- <div class="col"> -->

        <div id="card" style=" " class="col-md-12 col-lg-12">

            <div class="measure-name">
                <span id="thumbnailtopic">{{thumbnail.topic}}</span>
                <div id="question"><i class="fas fa-question fa-lg"></i></div>
            </div>

            <div>

                <div class="difference">
                    <span id="diff" class="">{{thumbnail.diff}}</span>
                    <i class="fas fa-caret-up fa-2x"></i>

                </div>

                <div id="{{thumbnail.id}}" class="c3">

                </div>

            </div>

            <div class="data">
                <span class="datapoint" style="background-color: #FF4500;border:1px solid #FF4500;"></span>
                <span class="compare">{{thumbnail.li1}}</span>
                <span class="percentage">{{thumbnail.p1}}</span>
            </div>

            <div class="data">
                <span class="datapoint" style="background-color: #377E9C;
                border:1px solid #377E9C;"></span>
                <span class="compare">{{thumbnail.li2}}</span>
                <span class="percentage">{{thumbnail.p2}}</span>
            </div>

            <div class="data">
                <span class="datapoint" style="background-color:transparent;
                border:1px solid transparent;"></span>
                <span class="compare">{{thumbnail.li3}}</span>
                <span class="percentage">{{thumbnail.p3}}</span>
            </div>

        </div>

    <!-- </div>

</div> -->