#card{
     margin-bottom:20px;
     border: 2px solid rgb(20, 146, 183); 
     border-radius: 7px;
     min-width: 180px;
     padding: 0
     /* height:230px ; */
     /* width: 254px;
     max-width: 254px; */
     /* max-height: 250px */
}

.measure-name{
    max-height:50px ;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px;
    /* width: 100%; */
    /* display: table; */
    /* overflow: hidden; */
    float: left;width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: #1492b7;
}


.measure-name > span{
    /* display: table-cell; */
    vertical-align: middle;
    line-height: 17px;
    padding-left: 0px;
    padding-right: 3px;
    padding-bottom: 3px;
    margin-left: -0px;
    /* font-size: 0.9em; */
    font-size: 1.8vmin;
    color: #efefef;
    width: 70%
}



.measure-name > div{
    background-color: #ADD8E6;
    border-radius:4px;
    float: right;
    border: none;
    overflow: auto;
    padding: 1px 4px;
    position: relative;
    /* vertical-align: top; */
    /* margin-right: 4px;  */
}

.difference{
    width: 26%;
    vertical-align: top;
    margin-left: 26px;
    display: inline-block;
    color: gray
}

.difference > span{
    font-size:2.5em;
    margin-top: -7px;
}

.c3{
    display: inline-block;
    /* max-height: 80px; */
    vertical-align: middle;
    position: relative;
    margin-top: 5px;
    /* height: 80px; */
}

.data .datapoint{
  
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 3px;
    border-radius: 10px;
    display: inline-block;
    width: 3px;
    height: 3px;
}

.data .compare{
    width:70%;
    display: inline-block;
    vertical-align: text-top;
}

.data .percentage{
    width:10%;
    display: inline-block;
    vertical-align: text-top;
    text-align: center;
 } 

#card:hover  {
    box-shadow: 3px 3px 15px #666;
    cursor: pointer;
    zoom: 1.0;
    opacity: 1;

}

#question:hover {
    background-color:white;
}

#card:hover #diff{
    color: black;
}

#card:hover #thumbnailtopic{
    color:white;
}




  