html,body{
    height:100%;
    width:100%
}

.left{
    position: absolute;
    margin-left: 15px;
    margin-bottom: 20px;
    
    width: 210px;
    padding: 0;
}

.right{
    width: 100%;
    right: 0;
    margin: 0 15px 0 220px;
}

.uContainer{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* 0 10px 0 180px; */