
<div class="uContainer">
  <top-navbar></top-navbar>
  
  
  <!-- <div class="row " style="">
  
    <app-left-panel class="col-lg-3 left" style=""></app-left-panel>
  
    <div class="row right">
    <app-thumbnail class="col-md-6 col-lg-3 col-xl-3" *ngFor="let thumbnail of thumbnails;let i=index" [thumbnailObject]="thumbnail" >
    
    </app-thumbnail>

  </div>
 
  </div> -->
  <div class="row">
    <app-general-form class="col-lg-4" ></app-general-form> 
    <app-comparison-form class="col-lg-4"></app-comparison-form>
    <app-drilldown class="col-lg-4"></app-drilldown>
    <hr>
  </div> 

</div>