<!-- <h5 class="row">
  Drill-down Variables (maximum of two)
</h5>
<p class="row">Type 1: crosstab with Type 1 OR 2</p> 

<div class="custom-control custom-checkbox row">
  <input type="checkbox" class="custom-control-input" id="sex" >
  <label class="custom-control-label" for="sex" style="margin-right: 5px">Sex </label> <span class="caret"
  (click)="toggleSex=!toggleSex" [ngClass]="{down:toggleSex,right:!toggleSex}"></span>


  <div class="collapse" [ngClass]="{show:toggleSex}">
    <div class="custom-control custom-radio inline" style="margin-left:5px">
      <input type="radio" class="custom-control-input" id="male" name="sex">
      <label class="custom-control-label" for="male" style="font-size: 0.9em">Male</label>
    </div>
    <div class="custom-control custom-radio inline" style="margin-left:5px">
      <input type="radio" class="custom-control-input" id="female" name="sex">
      <label class="custom-control-label" for="female" style="font-size: 0.9em">Female</label>
    </div>
    <div class="custom-control custom-radio inline" style="margin-left:5px">
      <input type="radio" class="custom-control-input" id="both" name="sex" >
      <label class="custom-control-label" for="both" style="font-size: 0.9em">Both</label>
    </div>
  </div>
 

</div>

<div class="custom-control custom-checkbox row" style="margin-top:20px">

   
  <input type="checkbox" class="custom-control-input" id="grade" (change)="updateChecks($event)" [checked]="checks['grade']">
  <label class="custom-control-label" for="grade" style="margin-right: 5px">Grade </label> <span class="caret"
  (click)="toggleGrade=!toggleGrade" [ngClass]="{down:toggleGrade,right:!toggleGrade}"></span>

  <div class="collapse" [ngClass]="{show:toggleGrade}">
    <div class="custom-control custom-checkbox inline" style="margin-left:5px">
      <input type="checkbox" class="custom-control-input" id="four" (change)="updateChecks($event)" [checked]="checks['four']">
      <label class="custom-control-label" for="four" style="font-size: 0.9em">4</label>
    </div>
    <div class="custom-control custom-checkbox inline" style="margin-left:5px">
      <input type="checkbox" class="custom-control-input" id="five" (change)="updateChecks($event)" [checked]="checks['five']">
      <label class="custom-control-label" for="five" style="font-size: 0.9em">5</label>
    </div>
    <div class="custom-control custom-checkbox inline" style="margin-left:5px">
      <input type="checkbox" class="custom-control-input" id="six" (change)="updateChecks($event)" [checked]="checks['six']">
      <label class="custom-control-label" for="six" style="font-size: 0.9em">6</label>
    </div>
  </div>

</div>

<p class="row">Type 2: crosstab ONLY with Type 1</p>

<div class="custom-control custom-checkbox row">

   
  <input type="checkbox" class="custom-control-input" id="immiStatus" (change)="updateChecks($event)" [checked]="checks['immiStatus']">
  <label class="custom-control-label" for="immiStatus" style="margin-right: 5px">Immigrant Status </label> <span class="caret"
  (click)="toggleImmiStatus=!toggleImmiStatus" [ngClass]="{down:toggleImmiStatus,right:!toggleImmiStatus}"></span>

  <div class="collapse" [ngClass]="{show:toggleImmiStatus}">
    <div class="custom-control custom-checkbox inline" style="margin-left:5px">
      <input type="checkbox" class="custom-control-input" id="nonImmi" (change)="updateChecks($event)" [checked]="checks['nonImmi']">
      <label class="custom-control-label" for="nonImmi" style="font-size: 0.9em">Non</label>
    </div>
    <div class="custom-control custom-checkbox inline" style="margin-left:5px">
      <input type="checkbox" class="custom-control-input" id="lessthan5" (change)="updateChecks($event)" [checked]="checks['lessthan5']">
      <label class="custom-control-label" for="lessthan5" style="font-size: 0.9em">>5YRS</label>
    </div>
    <div class="custom-control custom-checkbox inline" style="margin-left:5px">
      <input type="checkbox" class="custom-control-input" id="greaterthan5" (change)="updateChecks($event)"  [checked]="checks['greaterthan5']">
      <label class="custom-control-label" for="greaterthan5" style="font-size: 0.9em">5YRS</label>
    </div>
  </div>

</div>

<div class="custom-control custom-checkbox row" style="margin-top:20px">

   
  <input type="checkbox" class="custom-control-input" id="aboriginal" (change)="updateChecks($event)" [checked]="checks['aboriginal']">
  <label class="custom-control-label" for="aboriginal" style="margin-right: 5px">Aboriginal Status </label> <span class="caret"
  (click)="toggleAboriginal=!toggleAboriginal" [ngClass]="{down:toggleAboriginal,right:!toggleAboriginal}"></span>

  <div class="collapse" [ngClass]="{show:toggleAboriginal}">
    <div class="custom-control custom-checkbox inline" style="margin-left:5px">
      <input type="checkbox" class="custom-control-input" id="nonAborig" (change)="updateChecks($event)" [checked]="checks['nonAborig']">
      <label class="custom-control-label" for="nonAborig" style="font-size: 0.9em">Non</label>
    </div>
    <div class="custom-control custom-checkbox inline" style="margin-left:5px">
      <input type="checkbox" class="custom-control-input" id="aborig" (change)="updateChecks($event)" [checked]="checks['aborig']">
      <label class="custom-control-label" for="aborig" style="font-size: 0.9em">Aborig</label>
    </div>
    
  </div>

</div>



 -->

 <div class="custom-control custom-checkbox row">
  <input type="checkbox" class="custom-control-input" id="sexId" (change)="toggleS" [checked]="toggleS" #ref> <label for="sexId" class="custom-control-label" style="margin-right:5px">Sex</label> 
  <span class="caret" (click)="toggleSex=!toggleSex" [ngClass]="{down:toggleSex,right:!toggleSex}"></span>
   <div *ngIf="toggleSex">
     <div *ngFor="let sex of sexes">
        <div *ngIf="sex.type=='Both'" class="custom-control custom-checkbox inline" style="margin-left:5px">
          <input type="radio" [checked]="ref.checked" name="sex" class="custom-control-input" [attr.id]="sex.id">
          <label class="custom-control-label" [attr.for]="sex.id">{{sex.type}}</label>
        </div> 
        <div *ngIf="sex.type!='Both'" class="custom-control custom-checkbox inline" style="margin-left:5px">
          <input type="radio" name="sex" class="custom-control-input" [attr.id]="sex.id">
          <label class="custom-control-label" [attr.for]="sex.id">{{sex.type}}</label>
        </div>  
     </div>
  </div>
</div>


<!-- 

<div class="custom-control custom-checkbox row">
    <input type="checkbox" class="custom-control-input" id="sexId" (change)="toggleS" [checked]="toggleS" #ref> <label for="sexId" class="custom-control-label" style="margin-right:5px">Sex</label> 
    <span class="caret" (click)="toggleSex=!toggleSex" [ngClass]="{down:toggleSex,right:!toggleSex}"></span>
     <div *ngIf="toggleSex">
       <div *ngFor="let sex of sexes">
          <div *ngIf="sex.type=='Both'" class="custom-control custom-checkbox inline" style="margin-left:5px">
            <input type="checkbox" [checked]="ref.checked" name="sex" class="custom-control-input" [attr.id]="sex.id">
            <label class="custom-control-label" [attr.for]="sex.id">{{sex.type}}</label>
          </div> 
          <div *ngIf="sex.type!='Both'" class="custom-control custom-checkbox inline" style="margin-left:5px">
            <input type="radio" name="sex" class="custom-control-input" [attr.id]="sex.id">
            <label class="custom-control-label" [attr.for]="sex.id">{{sex.type}}</label>
          </div>  
       </div>
    </div>
  </div> -->