<!-- <form> -->

    <!-- <div class="form-inline row">
     <label for="replicaSchool" class="col-4 col-form-label">Replica School: </label> 
     <div class="col-4">
        <input type="checkbox" id="replicaSchool" class="" >
     </div>
      
    </div> -->
    <!-- <h5 class="row">
        Comparison
    </h5>

    <div class="custom-control custom-checkbox row">
        <input type="checkbox" class="custom-control-input" id="replicaSchool">
        <label class="custom-control-label" for="replicaSchool">Replica School</label>
    </div>
    

    <div class="form-group row">
      <label for="ourSchoolLine1" class="col-4 col-form-label">OurSchool Line: </label>
      <div class="col-4">
        <select class="form-control" id="ourSchoolLine1">
          <option>OurSCHOOL High Schools</option>
        </select>
      </div>
    </div>
    
    <div class="form-group row">
     <label for="ourSchoolLine2" class="col-4 col-form-label">OurSchool Line: </label>
      <div class="col-4">
        <select class="form-control" id="ourSchoolLine2">
          <option>NSW Govt Secondary Schools</option>
        </select>
      </div>
    </div>
    
    <div class="form-group row">
        <label for="years" class="col-4 col-form-label">Years: </label>
         <div class="col-4">
           <select class="form-control" id="years">
             <option>Current year only</option>
             <option>Include previous year</option>
             <option>Include previous two years</option>
             <option>Include previous three years</option>
           </select>
         </div>
       </div>
    
    </form> -->