<form>
<h5 class="row">
  General Options
</h5>
<div class="form-group row">
  <label for="survey" class="col-2 col-form-label">Survey: </label>
  <div class="col-4">
    <select class="form-control" id="survey">
      <option>NSW Secondary Schools 2018 2018/2019</option>
      <option>NSW Primary schools 2019 2018/2019</option>
    </select>
  </div>
</div>

<div class="form-group row">
 <label for="chartType" class="col-2 col-form-label">Chart Type: </label>
  <div class="col-4">
    <select class="form-control" id="chartType">
      <option>Bar</option>
    </select>
  </div>
</div>

<div class="form-group row">
    <label for="Domain" class="col-2 col-form-label">Domain: </label>
     <div class="col-4">
       <select class="form-control" id="Domain">
         <option>Social-Emotional Outcomes</option>
         <option>Academic Outcomes</option>
         <option>Drivers of Student Outcomes</option>
       </select>
     </div>
   </div>

</form>