<div class="card ">
    <h4 class="card-header text-center" (click)="viewCompare=!viewCompare;">
        Compare
    </h4>
    <div class="card-body collapse" [ngClass]="{'show':viewCompare}">
        <hr>
        <h6>2018 April to</h6>
        <hr>

        <div class="custom-control custom-radio row">
            <input type="radio" class="custom-control-input col" name="compare" id="compare1">
            <label class="custom-control-label col" for="compare1">2017 September</label>
        </div>
        <div class="custom-control custom-radio row">
            <input type="radio" class="custom-control-input col" name="compare" id="compare2">
            <label class="custom-control-label col" for="compare2">2017 May</label>
        </div>
        <div class="custom-control custom-radio row">
            <input type="radio" class="custom-control-input col" name="compare" id="compare3">
            <label class="custom-control-label col" for="compare3" style="">2016 September</label>
        </div>

        <hr>
        <h6>With Norm</h6>
        <hr>

        <div class="custom-control custom-radio row">
            <input type="radio" class="custom-control-input col" name="norm" id="norm1">
            <label class="custom-control-label col" for="norm1">NSW Govt Norm</label>
        </div>
        <div class="custom-control custom-radio row">
            <input type="radio" class="custom-control-input col" name="norm" id="norm2">
            <label class="custom-control-label col" for="norm2">Replica School</label>
        </div>


    </div>

</div>

<div class="card text-center">
    <h4 class="card-header" (click)="viewSort=!viewSort;">
        Sort
    </h4>

    <div class="card-body collapse" [ngClass]="{'show':viewSort}">

        <hr>
        <h6>Order</h6>
        <hr>

        <select class="custom-select" id="inputGroupSelect01">
            <option selected>No Sort</option>
            <option value="1">Descending</option>
            <option value="2">Ascending</option>
        </select>


    </div>

</div>

<div class="card">
    <h4 class="card-header text-center" (click)="viewRefine=!viewRefine;">
        Refine
    </h4>

    <div class="card-body collapse" [ngClass]="{'show':viewRefine}" style="" title="card">

        <div class="custom-control custom-checkbox inline" title="selectAll">
            <input type="checkbox" class="custom-control-input" id="selectAll">
            <!-- Or operations of all child elements for checked of selectAll -->
            <label class="custom-control-label" for="selectAll" style="font-size: 20px">Select All</label>
        </div>

        <div class="custom-control custom-checkbox inline" style="" title="Social-Emotional Outcomes">
            <input type="checkbox" class="custom-control-input" id="Social-Emotional Outcomes" (change)="updateChecks($event)" [checked]="checks['Social-Emotional Outcomes']">
            <label class="custom-control-label" for="Social-Emotional Outcomes" style="font-size: 1em">Social Emotional Outcomes<span
                    class="caret" (click)="toggleSeo=!toggleSeo" [ngClass]="{down:toggleSeo,right:!toggleSeo}"></span></label>



                    <div class="collapse" [ngClass]="{show:toggleSeo}">

                        <!-- Social Engagement -->
                        <div class="custom-control custom-checkbox inline" style="margin-left:5px" title="Social Engagement" name="Social Engagement">
                            <input type="checkbox"  class="custom-control-input" id="Social Engagement" (change)="updateChecks($event)" [checked]="checks['Social Engagement']">
                            <label class="custom-control-label" for="Social Engagement" style="font-size: 0.9em">Social Engagement<span
                                    class="caret" (click)="toggleSe=!toggleSe" [ngClass]="{down:toggleSe,right:!toggleSe}"></span></label>
            
            
            
                            <div class="collapse" [ngClass]="{show:toggleSe}">
            
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px" title="Participate Sports">
                                    <input type="checkbox" class="custom-control-input" id="Participate Sports" (change)="updateChecks($event)" [checked]="checks['Participate Sports']">
                                    <label class="custom-control-label" for="Participate Sports" style="font-size: 0.8em">Participate
                                        Sports </label>
                                </div>
            
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px" title="Participate Clubs">
                                    <input type="checkbox" class="custom-control-input" id="Participate Clubs" (change)="updateChecks($event)" [checked]="checks['Participate Clubs']">
                                    <label class="custom-control-label" for="Participate Clubs" style="font-size: 0.8em">Participate
                                        Clubs</label>
                                </div>
            
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px" title="Sense of Belonging">
                                    <input type="checkbox" class="custom-control-input" id="Sense of Belonging" (change)="updateChecks($event)" [checked]="checks['Sense of Belonging']">
                                    <label class="custom-control-label" for="Sense of Belonging" style="font-size: 0.8em">Sense of belonging</label>
                                </div>
            
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px" title="Positive Relationships">
                                    <input type="checkbox" class="custom-control-input" id="Positive Relationships" (change)="updateChecks($event)" [checked]="checks['Positive Relationships']">
                                    <label class="custom-control-label" for="Positive Relationships" style="font-size: 0.8em">Positive
                                        Relationships</label>
                                </div>
            
                            </div>
            
                        </div>
            
                        <!-- Social Engagement -->
            
                        <!-- Institutional Engagement -->
                        <div class="custom-control custom-checkbox inline" style="margin-left:5px" title="Institutional Engagement">
                            <input type="checkbox" class="custom-control-input" id="Institutional Engagement" (change)="updateChecks($event)" [checked]="checks['Institutional Engagement']">
                            <label class="custom-control-label" for="Institutional Engagement" style="font-size: 0.9em">Institutional
                                Engagement<span class="caret" (click)="toggleIe=!toggleIe" [ngClass]="{down:toggleIe,right:!toggleIe}"></span></label>
            
                            <div class="collapse" [ngClass]="{show:toggleIe}">
            
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                    <input type="checkbox" class="custom-control-input" id="Values school Outcomes" (change)="updateChecks($event)" [checked]="checks['Values school Outcomes']">
                                    <label class="custom-control-label" for="Values school Outcomes" style="font-size: 0.8em">Values
                                        school outcomes</label>
                                </div>
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                    <input type="checkbox" class="custom-control-input" id="Truancy" (change)="updateChecks($event)" [checked]="checks['Truancy']">
                                    <label class="custom-control-label" for="Truancy" style="font-size: 0.8em">Truancy</label>
                                </div>
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                    <input type="checkbox" class="custom-control-input" id="Homework Behaviour" (change)="updateChecks($event)" [checked]="checks['Homework Behaviour']">
                                    <label class="custom-control-label" for="Homework Behaviour" style="font-size: 0.8em">Homework Behaviour</label>
                                </div>
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                    <input type="checkbox" class="custom-control-input" id="Positive Behaviour at school" (change)="updateChecks($event)" [checked]="checks['Positive Behaviour at school']">
                                    <label class="custom-control-label" for="Positive Behaviour at school" style="font-size: 0.8em">Positive
                                        Behaviour at school</label>
                                </div>
            
                            </div>
                        </div>
                        <!-- Institutional Engagement -->
            
                        <!-- intellectual Engagement -->
            
                        <div class="custom-control custom-checkbox inline" style="margin-left:5px" title="Intellectual Engagement" name="Intellectual Engagement">
                            <input type="checkbox" class="custom-control-input" id="Intellectual Engagement" (change)="updateChecks($event)" [checked]="checks['Intellectual Engagement']">
                            <label class="custom-control-label" for="Intellectual Engagement" style="font-size: 0.9em">Intellectual Engagement<span
                                    class="caret" (click)="toggleInte=!toggleInte" [ngClass]="{down:toggleInte,right:!toggleInte}"></span></label>
            
                            <div class="collapse" [ngClass]="{show:toggleInte}">
            
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                    <input type="checkbox" class="custom-control-input" id="intellectual Engagement Composite" (change)="updateChecks($event)" [checked]="checks['intellectual Engagement Composite']">
                                    <label class="custom-control-label" for="intellectual Engagement Composite" style="font-size: 0.8em">Intellectual
                                        Engagement Composite</label>
                                </div>
            
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                    <input type="checkbox" class="custom-control-input" id="Interest and Motivation" (change)="updateChecks($event)" [checked]="checks['Interest and Motivation']">
                                    <label class="custom-control-label" for="Interest and Motivation" style="font-size: 0.8em">Interest
                                        and motivation</label>
                                </div>
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                    <input type="checkbox" class="custom-control-input" id="Effort" (change)="updateChecks($event)" [checked]="checks['Effort']">
                                    <label class="custom-control-label" for="Effort" style="font-size: 0.8em">Effort</label>
                                </div>
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                    <input type="checkbox" class="custom-control-input" id="Skills (Grades)-Challenge" (change)="updateChecks($event)" [checked]="checks['Skills (Grades)-Challenge']">
                                    <label class="custom-control-label" for="Skills (Grades)-Challenge" style="font-size: 0.8em">Skills
                                        grade challenge</label>
                                </div>
            
                            </div>
                        </div>
                        <!-- intellectual Engagement -->
            
                        <!-- Wellness -->
                        <div class="custom-control custom-checkbox inline" style="margin-left:5px" title="wellness" name="wellness">
                            <input type="checkbox" class="custom-control-input" id="wellness" (change)="updateChecks($event)" [checked]="checks['wellness']">
                            <label class="custom-control-label" for="wellness" style="font-size: 0.9em">Wellness<span class="caret" (click)="toggleWellness=!toggleWellness"
                                    [ngClass]="{down:toggleWellness,right:!toggleWellness}"></span></label>
            
            
                            <div class="collapse" [ngClass]="{show:toggleWellness}">
            
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                    <input type="checkbox" class="custom-control-input" id="Optimism High" (change)="updateChecks($event)" [checked]="checks['Optimism High']">
                                    <label class="custom-control-label" for="Optimism High" style="font-size: 0.8em">Optimism High</label>
                                </div>
            
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                    <input type="checkbox" class="custom-control-input" id="Optimism Medium" (change)="updateChecks($event)" [checked]="checks['Optimism Medium']">
                                    <label class="custom-control-label" for="Optimism Medium" style="font-size: 0.8em">Optimism Medium</label>
                                </div>
            
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                    <input type="checkbox" class="custom-control-input" id="Optimism Low" (change)="updateChecks($event)" [checked]="checks['Optimism Low']">
                                    <label class="custom-control-label" for="Optimism Low" style="font-size: 0.8em">Optimism Low</label>
                                </div>
            
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                    <input type="checkbox" class="custom-control-input" id="Happiness High" (change)="updateChecks($event)" [checked]="checks['Happiness High']">
                                    <label class="custom-control-label" for="Happiness High" style="font-size: 0.8em">Happiness High</label>
                                </div>
            
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                    <input type="checkbox" class="custom-control-input" id="Happiness Medium" (change)="updateChecks($event)" [checked]="checks['Happiness Medium']">
                                    <label class="custom-control-label" for="Happiness Medium" style="font-size: 0.8em">Happiness Medium</label>
                                </div>
            
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                    <input type="checkbox" class="custom-control-input" id="Happiness Low" (change)="updateChecks($event)" [checked]="checks['Happiness Low']">
                                    <label class="custom-control-label" for="Happiness Low" style="font-size: 0.8em">Happiness Low</label>
                                </div>
            
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                    <input type="checkbox" class="custom-control-input" id="Academic self-concept High" (change)="updateChecks($event)" [checked]="checks['Academic self-concept High']">
                                    <label class="custom-control-label" for="Academic self-concept High" style="font-size: 0.8em">Academic
                                        self-concept High</label>
                                </div>
            
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                    <input type="checkbox" class="custom-control-input" id="Academic self-concept Medium" (change)="updateChecks($event)" [checked]="checks['Academic self-concept Medium']">
                                    <label class="custom-control-label" for="Academic self-concept Medium" style="font-size: 0.8em">Academic
                                        self-concept Medium</label>
                                </div>
            
                                <div class="custom-control custom-checkbox inline" style="margin-left:10px" title="">
                                    <input type="checkbox" class="custom-control-input" id="Academic self-concept Low" (change)="updateChecks($event)" [checked]="checks['Academic self-concept Low']">
                                    <label class="custom-control-label" for="Academic self-concept Low" style="font-size: 0.8em">Academic
                                        self-concept Low</label>
                                </div>
            
                            </div>
                        </div>
            
                        <!-- Wellness -->
            
            
                    </div>

        </div>

        <div class="custom-control custom-checkbox inline" style="display: inline-block" title="Academic Outcomes">
            <input type="checkbox" class="custom-control-input" id="Academic Outcomes" (change)="updateChecks($event)" [checked]="checks['Academic Outcomes']">
            <label class="custom-control-label" for="Academic Outcomes" style="font-size: 1em;">Academic Outcomes<span
                    class="caret" (click)="toggleAo=!toggleAo" [ngClass]="{down:toggleAo,right:!toggleAo}"></span></label>

                    <div class="collapse" [ngClass]="{show:toggleAo}">
                        
                            <div class="custom-control custom-checkbox inline" style="margin-left:5px" title="Language Arts">
                                    <input type="checkbox" class="custom-control-input" id="Language Arts" (change)="updateChecks($event)" [checked]="checks['Language Arts']">
                                    <label class="custom-control-label" for="Language Arts" style="font-size: 0.9em">Language Arts<span class="caret" (click)="toggleLa=!toggleLa" [ngClass]="{down:toggleLa,right:!toggleLa}"></span></label>

                                    <div class="collapse" [ngClass]="{show:toggleLa}">
            
                                            <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                                <input type="checkbox" class="custom-control-input" id="English" (change)="updateChecks($event)" [checked]="checks['English']">
                                                <label class="custom-control-label" for="English" style="font-size: 0.8em">English</label>
                                            </div>
                                    </div>    

                            </div>
                    
                            <div class="custom-control custom-checkbox inline" style="margin-left:5px" title="Maths">
                                    <input type="checkbox" class="custom-control-input" id="Maths" (change)="updateChecks($event)" [checked]="checks['Maths']">
                                    <label class="custom-control-label" for="Maths" style="font-size: 0.9em">Maths<span class="caret" (click)="toggleM=!toggleM" [ngClass]="{down:toggleM,right:!toggleM}"></span></label>

                                    <div class="collapse" [ngClass]="{show:toggleM}">
            
                                            <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                                <input type="checkbox" class="custom-control-input" id="maths" (change)="updateChecks($event)" [checked]="checks['maths']">
                                                <label class="custom-control-label" for="maths" style="font-size: 0.8em">Maths</label>
                                            </div>
                                    </div>    

                            </div>

                            <div class="custom-control custom-checkbox inline" style="margin-left:5px" title="Science">
                                    <input type="checkbox" class="custom-control-input" id="Science" (change)="updateChecks($event)" [checked]="checks['Science']">
                                    <label class="custom-control-label" for="Science" style="font-size: 0.9em">Science<span class="caret" (click)="toggleS=!toggleS" [ngClass]="{down:toggleS,right:!toggleS}"></span></label>

                                    <div class="collapse" [ngClass]="{show:toggleS}">
            
                                            <div class="custom-control custom-checkbox inline" style="margin-left:10px">
                                                <input type="checkbox" class="custom-control-input" id="science" (change)="updateChecks($event)" [checked]="checks['science']">
                                                <label class="custom-control-label" for="science" style="font-size: 0.8em">Science</label>
                                            </div>
                                    </div>    

                            </div>



                    </div>     

        </div>

      

    </div>

</div>