.caret {
    border: 6px solid transparent;
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 1;
    vertical-align: center;
}
.caret.up {
    border-bottom: 5px solid;
}
.caret.right {
    
    border-left: 8px solid;
}
.caret.down {
    border-top: 8px solid;
}
.caret.left {
    border-right: 8px solid;
}